html,
body {
  overflow-y: auto;
  overflow-x: none;
}

.meeting-info-container,
.meeting-info-container--right-side {
  display: none;
}

body > #zmmtg-root {
  display: none;
}

#zmmtg-root,
.root-inner,
.main-content {
  width: 100%;
}

#zmmtg-root,
.meeting-client,
.meeting-client-inner {
  width: 100%;
  height: 650px;
  position: relative;
}

#zmmtg-root,
.root-inner,
.meeting-app,
.meeting-client,
.meeting-client-inner,
#wc-content,
#wc-container-left,
.sharee-container {
  margin-top: 5%;
}
#zmmtg-root,
.root-inner,
.meeting-app,
.meeting-client,
.meeting-client-inner,
#wc-content,
#wc-container-right {
  margin-top: 9%;
}

#wc-footer {
  bottom: auto !important;
  width: 100% !important;
}

#dialog-join {
  width: auto !important;
}

#sv-active-video,
.active-main,
#sv-active-speaker-view,
.main-layout {
  height: auto !important;
  width: 100% !important;
}

.suspension-window {
  transform: translate(-444px, 10px) !important;
}

#dialog-invite {
  display: none;
}
